<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Agent {{ user.name }}</ion-title>
    <ion-buttons end>
      <button ion-end ion-button (tap)="addSession()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-end ion-button (tap)="timeSession()">
        <ion-icon name="alarm"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="block_container">
    <h1>Objectifs</h1>

    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">{{ getProgression() }}/{{ max }}</div>
      <round-progress [current]="getProgression()" [max]="max" stroke="25" [radius]="radius" [color]="color"></round-progress>
    </div>
  </div>

  <div class="block_container" *ngIf="getProgression() > 0">
    <ion-list>
      <ion-item>
        <div>List</div>
        <button *ngIf="listMode == 'normal'" item-end clear ion-button (tap)="setMode('edit')">
          Modifier
        </button>
        <button *ngIf="listMode == 'edit'" item-end clear ion-button (tap)="setMode('normal')">
          Fermer
        </button>
      </ion-item>

      <ion-item *ngFor="let s of getSessions()">
        <ion-avatar item-start>
          <ion-icon name="checkmark"></ion-icon>
        </ion-avatar>
        <h2>{{ s.bookName }}</h2>
        <h3><ion-icon name="time"></ion-icon> {{ s.minutes }} min(s)</h3>
        <p><ion-icon name="calendar"></ion-icon> {{ s.when }}</p>
        <button color="danger" *ngIf="listMode == 'edit'" item-end ion-button (tap)="deleteSession(s)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>

  <div class="block_container" *ngIf="getProgression() == 0" style="text-align: center;">
    <p>Vous n'avez aucune scéance de lecture pour le moment.</p>
    <button ion-button color="secondary" (tap)="addSession()">Inscrivez votre première scéance!</button>
  </div>

</ion-content>
