<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Agent {{ user.name }}</ion-title>
    <ion-buttons end>
      <button ion-end ion-button (tap)="pushNotification()">
        <ion-icon name="alert"></ion-icon>
      </button>
      <button ion-end ion-button (tap)="sync()">
        <ion-icon name="sync" [class.hasError]="syncProvider.hasError()" [class.synching]="syncProvider.isRunning"></ion-icon>
      </button>
      <button ion-end ion-button (tap)="timeSession()">
        <ion-icon name="alarm"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="block_container">
    <ion-card>

      <h1>Objectifs</h1>

    
      <div class="progress-wrapper">
        <div class="current" [ngStyle]="getOverlayStyle()">{{ getProgression() }} / {{ max }}</div>
        <round-progress [current]="getProgression()" [max]="max" stroke="25" [radius]="radius" [color]="color"></round-progress>
      </div>
    </ion-card>
  </div>

  <div class="block_container" *ngIf="getProgression() > 0">
    <ion-card>
    <ion-list>
      <ion-item>
        <div>Liste</div>
        <button *ngIf="listMode == 'normal'" color="secondary" item-end clear ion-button (tap)="setMode('edit')">
          Modifier
        </button>
        <button *ngIf="listMode == 'edit'" color="secondary" item-end clear ion-button (tap)="setMode('normal')">
          Fermer
        </button>
      </ion-item>

      <ion-item *ngFor="let s of getSessions()">
        <ion-avatar item-start>
          <ion-icon *ngIf="s.isCompleted" name="checkmark"></ion-icon>
          <ion-icon *ngIf="!s.isCompleted" name="bookmark"><span *ngIf="s.pageBookmark > 0" [class.txt10]="s.pageBookmark > 9" [class.txt100]="s.pageBookmark > 99">{{ s.pageBookmark }}</span></ion-icon>
        </ion-avatar>
        <h2><span class="bookName">{{ s.bookName }}</span><span *ngIf="s.authorName"> de {{ s.authorName }}</span></h2>
        <div class="meta">
          <h3><ion-icon name="time"></ion-icon> {{ s.minutes }} minutes</h3>
          <h3><ion-icon name="calendar"></ion-icon> {{ s.when }}</h3>
        </div>
        <button color="secondary" *ngIf="listMode == 'edit'" item-end ion-button (tap)="editSession(s)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
  </div>

  <div class="block_container" *ngIf="getProgression() == 0" style="text-align: center;">
    <p>Vous n'avez aucune séance de lecture pour le moment.</p>
    <button ion-button color="secondary" (tap)="addSession()">Inscrivez votre première séance!</button>
  </div>

  <div class="block_container" *ngIf="getArchives().length > 0">
    <ion-card>
    <ion-list>
      <ion-item>
        <div>Archives</div>
      </ion-item>

      <ion-item *ngFor="let a of getArchives()">
        <ion-avatar item-start>
          <ion-icon  name="cube"></ion-icon>
        </ion-avatar>
        <h2><span class="bookName">{{ a.bookName }}</span><span *ngIf="a.authorName"> de {{ a.authorName }}</span></h2>
        <div class="meta">
          <h3><ion-icon name="book"></ion-icon> X séances</h3>
          <h3><ion-icon name="calendar"></ion-icon> WHEN </h3>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  </div>

  <ion-fab bottom right>
    <button ion-fab mini color="secondary" (tap)="addSession()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
