<ion-menu [content]="content" (ionClose)="menuClosed()">

  <ion-header>
    <h1>Agent Pile</h1>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <div>Liste des agents</div>
        <button *ngIf="menuMode == 'normal'" color="secondary" item-end clear ion-button (tap)="setMode('edit')">
          Modifier
        </button>
        <button *ngIf="menuMode == 'edit'" color="secondary" item-end clear ion-button (tap)="setMode('normal')">
          Fermer
        </button>
      </ion-item>
      <button [ngClass]="{'is-active' : dataProvider.getActiveUser() == u.id}" menuClose ion-item *ngFor="let u of dataProvider.getUsers()" (tap)="loadUser(u)">
        <ion-icon name="book"></ion-icon>
        <div class="name">{{u.name}}</div>
        <div *ngIf="menuMode == 'normal'" class="status" item-end>{{ dataProvider.getSessions(u.id).length }} / {{ u.sessions }}</div>
        <button color="secondary" *ngIf="menuMode == 'edit'" item-end ion-button (tap)="editUser(u)">
          <ion-icon name="create"></ion-icon>
        </button>
      </button>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab mini color="secondary" (tap)="createUser()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>