ion-menu {
	ion-header {
	    min-height: 150px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	ion-content {
		background-color: map-get($colors, primary) !important;
	}

	ion-list {

		.item {
			padding-left: 0 !important;

			.item-inner {
				padding: 8px 0px;

				ion-label {
					padding-left: 16px;
				}
			}
		}

		button {
			&.is-active {
				background-color: #F4F4F4;
			}

			ion-label {
				display: flex;

				ion-icon {
					margin-right: 16px;
				}
			}
		}
	}
}

p.error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;

	position: relative;
	padding: 20px;
	margin-bottom: 16px;
	margin-top: 0;
	border: 1px solid transparent;
	border-radius: .25rem;
	text-align: center;
}

.fieldset {
	ion-col {
       	display: flex;
		align-items: center;

		padding: 0 !important;

		span.label {
			padding-left: 8px;
		}
	}

    ion-input {
	    display: block;
	    width: 100%;
	    padding: 2px;
	    color: #495057;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;

	    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	    &[type=number] {
	    	max-width: 50px;
	    }

	    input[type=number] {
	    	text-align: center;
	    }
    }

	ion-input.invalid {
    	border: 1px solid #ea6153;
	}

	ion-label {
		font-size: 1.2em !important;
		font-weight: bold;
		margin-bottom: 8px !important;
	}

	&:not(:last-child) {
		margin-bottom: 32px;
	}
}