<ion-header>
  <ion-navbar>
    <ion-title *ngIf="userId == ''">Nouvel Agent</ion-title>
    <ion-title *ngIf="userId != ''">Agent Existant</ion-title>
    <ion-buttons *ngIf="!isMandatory" end>
      <button ion-end ion-button (tap)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
    <p *ngIf="submitAttempt" class="error">Please fill out all details accurately.</p>

 	<form [formGroup]="myForm">
		<div class="fieldset">
            <ion-label stacked>Nom de l'agent</ion-label>
            <ion-row>
				<ion-col><ion-input formControlName="name" type="text" [class.invalid]="isFieldInvalid('name')"></ion-input></ion-col>
			</ion-row>
        </div>

		<div class="fieldset">
            <ion-label stacked>Temps par scéance</ion-label>
			<ion-row>
				<ion-col><ion-input type="number" formControlName="minutes" placeholder="0" [class.invalid]="isFieldInvalid('minutes')"></ion-input><span class="label">minute(s)</span></ion-col>
			</ion-row>
        </div>

		<div class="fieldset">
            <ion-label stacked>Objectif</ion-label>
            <ion-row>
				<ion-col><ion-input formControlName="sessions" type="number" [class.invalid]="isFieldInvalid('sessions')"></ion-input><span class="label">session(s)</span></ion-col>
			</ion-row>
		</div>

		<p *ngIf="myForm.controls.sessions.value && myForm.controls.minutes.value">{{ myForm.controls.sessions.value }} session(s) de {{ myForm.controls.minutes.value }} minute(s) pour un total de <span *ngIf="goalHours">{{ goalHours }} heure(s)</span><span *ngIf="goalMinutes && goalHours"> et </span><span *ngIf="goalMinutes">{{ goalMinutes }} minute(s)</span></p>

		<div style="text-align: center;">
			<button *ngIf="userId == ''" ion-button (tap)="createUser()">Créer</button>
			<button *ngIf="userId != ''" ion-button (tap)="updateUser()">Modifier</button>
		</div>

		<div style="text-align: center;">
			<button *ngIf="userId != ''" ion-button clear (tap)="deleteUser()">Supprimer</button>
		</div>
	</form>

</ion-content>
